/* Định dạng toàn bộ trang */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Định dạng tiêu đề chung */
h1 {
  background-color: #8f5fe8;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Định dạng nút và ô tìm kiếm */
button {
  background-color: #8f5fe8;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #6f48db;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

/* Định dạng bảng chung */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #8f5fe8;
  color: white;
}

/* Định dạng form thêm xe */
#addCarForm {
  display: none;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  margin: 20px 0;
}

/* Định dạng chân trang */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* CSS để tạo bảng giống Excel cho trang about */
#table-container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Định dạng bảng giống Excel */
#table-container table {
  width: 100%;
  border-collapse: collapse;
}

#table-container th, #table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#table-container th {
  background-color: #509afc;
}

/* Định dạng form thêm bài đăng */
#add-post-form {
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: none;
}

#add-post-form label {
  display: block;
  margin-top: 10px;
}

#add-post-form input[type="text"],
#add-post-form input[type="number"],
#add-post-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#add-post-form button[type="submit"],
#add-post-form #cancel-button {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  background-color: #166ee0;
  margin-top: 10px;
}
